#loading_screen1, #loading_screen2
{
    position: fixed;
    z-index: 1000;
    left: 0px;
    width: 100%;
    height: 50%;
    overflow: visible;
}

#loading_logo
{
    z-index: 2000;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#loading_screen1
{
    top: 0px;
}

#loading_screen2
{
    bottom: 0px;
}
