
#clock
{
    padding-right: 30px;
    padding-left: 30px;
}

#logo img
{
    float: left;
    height: 50px;
}

.menu a div
{
    font-size: small;
}

.menu a div:hover
{
    font-size: small;
    transition:
	background-color 0.2s linear,
	color 0.2s linear
    ;
}
