
.module_menubar
{
    padding: 10px;
}

.asset_menubar
{
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    pading-bottom: 0px;
}

.support_screen
{
    width: 100%;
}

.module_tab td
{
    padding: 10px;
}

.submenu
{
    height: 95%;
    width: 100%;
}

.submenutd
{
    vertical-align: top;
}

.submenutr > td:first-of-type
{
    width: 400px;
}

.submenu tr > td:last-of-type
{
    width: calc(100% - 400px);
}

.screen_media
{
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

.resume_module
{
    display: inline-block;
    vertical-align: top;
    width: calc(33% - 40px);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 0;
    height: 200px;
    padding: 10px 10px 10px 10px;
    position: relative;
}

.resume_module > .registration
{
    font-size: small;
    width: 29%;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
}

.module_tab
{
    width: calc(100% - 20px);
    margin-left: 10px;
    height: 150px;
}

.module_tab td
{
    vertical-align: top;
}

.flammes
{
    position: absolute;
    top: 0px;
    right: 0px;
}

.module_scale
{
    border-radius: 15px;
    position: absolute;
    top: 30px;
    width: 40px;
    height: calc(100% - 40px);
    right: 10px;
}	

.module_description
{
    position: absolute;
    top: 40px;
    left: 10px;
    width: calc(100% - 80px);
    height: calc(100% - 100px);
    font-size: x-small;
}

.module_button
{
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 80px);
    height: 40px;
    line-height: 40px !important;
    vertical-align: middle;
}


.modulebutton
{
    width: 100%;
    height: 100%;
}

.modulebutton, .modulebutton a
{
    font-weight: bold;
}

.gradetab td
{
    padding: 0;
    vertical-align: middle;
}

.gradetab th, .gradetab td
{
    padding: 2px 2px 2px 2px;
    font-size: small;
}

.resume_module .module_scale tr td:first-of-type
{
    font-weight: bold;
}


.module_button
{
    font-size: x-large;
}


.medalscroll > div
{
    width: calc(100% - 20px);
    max-height: 500px;
    overflow-x: auto;
    padding: 10px;
}

.medalscroll > div::-webkit-scrollbar
{
    width: 5px;
}

.list_of_dates *
{
    font-size: small;
}
.list_of_dates b
{
    display: inline-block;
    width: 49%;
    text-align: right;
}
.list_of_dates span
{
    width: 49%;
    display: inline-block;
    text-align: left;
}

.activity_description
{
    text-indent: 2em;
    text-align: justify;
    margin-left: 10px;
}

.module_medal_admin
{
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 46px !important;
    height: 46px !important;
}
