
.submenu
{
    height: 95%;
    width: 100%;
}

.submenutd
{
    vertical-align: top;
}

.submenutr > td:first-of-type
{
    width: 400px;
}

.submenu tr > td:last-of-type
{
    width: calc(100% - 400px);
}

.resume_module
{
    display: inline-block;
    vertical-align: top;
    width: calc(33% - 40px);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 0;
    height: 200px;
    padding: 10px 10px 10px 10px;
    position: relative;
}

.resume_module > .registration
{
    font-size: small;
    width: 29%;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
}

.module_tab
{
    width: calc(100% - 20px);
    margin-left: 10px;
    height: 150px;
}

.module_tab td
{
    vertical-align: top;
}

.flammes
{
    position: absolute;
    top: 0px;
    right: 0px;
}

.module_scale
{
    border-radius: 15px;
    position: absolute;
    top: 30px;
    width: 40px;
    height: calc(100% - 40px);
    right: 10px;
}	

.module_description
{
    position: absolute;
    top: 40px;
    left: 10px;
    width: calc(100% - 80px);
    height: calc(100% - 100px);
    font-size: x-small;
}

.module_button
{
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 80px);
    height: 40px;
    line-height: 40px !important;
    vertical-align: middle;
}
