
.module_link
{
    z-index: 0;
    padding-left: 20px;
    position: relative;
}

.support_add_formular
{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

