
.content_table
{
    width: 100%;
}

.content_table th
{
    height: 55px;
}

.wide_coloumn
{
    width: 300px;
    min-width: 250px;
}

.medium_column
{
    width: 180px;
    max-width: 220px;
    min-width: 180px;
}

.small_column
{
    width: 100px;
    max-width: 200px;
    min-width: 100px;
}

.tiny_column
{
    width: 30px;
    max-width: 50px;
    min-width: 30px;
}



.big_top_table
{
    width: 100%;
    height: calc(100% - 50px - 50px - 10px - 10px);
}

.big_top_table td
{
    vertical-align: top;
}

.click_list
{
    overflow: auto;
}

.click_list>div:hover
{
    background-color: rgba(0, 0, 0, 0.2);
}

.click_list>div
{
    position: relative;
    margin-left: 10px;
    width: calc(100% - 20px);
    height: 50px;
    x-overflow: auto;
    border: 1px solid gray;
}

.click_list>div>div
{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    z-index: 1;
    color: white;
    text-shadow:
	-1px -1px 0px black,
	-1px +1px 0px black,
	+1px -1px 0px black,
	+1px +1px 0px black,
	-1px -0px 0px black,
	+1px +0px 0px black,
	+0px -1px 0px black,
	+0px +1px 0px black
    ;
}

.click_list>div>a>img
{
    position: absolute;
    left: 5px;
    top: 0px;
}

.click_list>div>p
{
    position: absolute;
    left: 60px;
    top: 0px;
    font-size: 20px;
    top: calc((100% - 20px) / 2);
    height: 20px;
}
