.tabpanel
{
    position: relative;
    height: 100%;
    width: 100%;
}

.tablist
{
    width: 100%;
    height: 30px;
    position: absolute;
    padding-bottom: 10px;
    top: 0px;
    left: 0px;
}

.tablist div
{
    height: 30px;
    line-height: 30px;
    display: inline-block;
    float: left;
    text-align: center;
}

.tabcontent
{
    overflow: auto;	
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    height: calc(100% - 50px);
}

.tabcontent > div
{
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: calc(100%);
    vertical-align: top;
}
