/*
**
*/

#activity_tab td > div
{
    border-radius: 5px;
    /* Pour que cela soit lisible... */
    background-color: rgba(200, 200, 200, 1);
}

#activity_tab td > div *
{
    color: black;
}

#activity_tab td > div a
{
    color: darkgreen;
}

#activity_tab .final_box
{
    border: 1px solid rgba(255, 255, 255, 0.3);	
}
