
.doclist
{

}

.doclist div
{
    text-align: center;
    background-color: rgba(0, 255, 0, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(0, 255, 0, 0.1);
    backdrop-filter: blur(12px);
}

.doclist div:hover
{
    background-color: rgba(0, 255, 0, 0.2);
}

.doclist div.selected
{
    border: 1px solid rgba(0, 255, 0, 1.0);
}
