
.tablist div
{
    border-radius: 5px;
    border: 1px solid rgba(0, 255, 0, 0.1);
    background-color: rgba(0, 255, 0, 0.2);
    transition: background-color 0.2s ease-in-out;
    backdrop-filter: blur(12px);
}

.tablist div.selected
{
    background: linear-gradient(to right, rgba(0, 255, 0, 0.6), rgba(0, 255, 0, 0.4), rgba(0, 255, 0, 0.6));
}

.tablist div:hover
{
    background-color: rgba(0, 255, 0, 0.7);
}

.tablist div:active
{
    background-color: rgba(0, 255, 0, 0.8);
    color: black;
    font-weight: bold;
}

.tabcontent
{
    border-radius: 5px;
    backdrop-filter: blur(12px);
    border: 1px solid rgba(0, 255, 0, 0.1);
    background: radial-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 128, 0, 0.3));
}

