
.submenutr > td:first-of-type
{
    padding: 10px;
    background-color: #181818;
    border-radius: 10px;
}

.submenutr > td:first-of-type, .submenutd a
{
    color: lightgray;
    text-decoration: none;
}

.submenutd a:hover
{
    text-decoration: underline;
}

.module_tab
{
    border-radius: 15px;
    background-color: gray;
}

.module_tab td
{
    padding: 10px;
    border-radius: 5px;
}

.medalscroll
{
    height: 100px;
}

.medalscroll > div
{
    width: 100%;
    height: 105px;
    text-align: left;
    overflow-x: auto;
    background-color: lightgray;
    border-radius: 5px;
}

.gradetab td
{
    text-align: center;
    padding: 0;
    vertical-align: middle;
}
