
.module_menubar
{
    padding: 10px;
    background-color: rgb(67, 70, 88);
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgb(55, 55, 55);
    /* transform: skew(-2deg, 0deg); */
}

.asset_menubar
{
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    pading-bottom: 0px;
}

.support_screen
{
    width: 100%;
    height: calc(100% + 20px);
    border-radius: 10px;
    background-color: rgb(67, 70, 88);
}

.submenutr > td:first-of-type, .submenutd a
{
    text-decoration: none;
    color: rgb(250, 249, 249);
}

.submenutd a:hover
{
    text-decoration: underline;
}

.submenutd ul, .submenutd li
{
    list-style-type: none;
}

.module_tab, .resume_module
{
    border-radius: 15px;
    box-shadow: 0px 1px 30px rgba(55, 55, 55, 0.15);
}

.module_tab td
{
    padding: 10px;
    border-radius: 5px;
}

.medalscroll
{
    /* height: 110px; */
}

.medalscroll > div
{
    width: calc(100% - 20px);
    /* height: 105px; */
    max-height: 500px;
    overflow-x: auto;
    background-color: rgba(45, 48, 59, 0.2);
    box-shadow: inset 0px 1px 3px rgb(55, 55, 55);
    border-radius: 5px;
    padding: 10px;
}

.medalscroll > div::-webkit-scrollbar
{
    border-radius: 5px;
    width: 5px;
    background-color: rgba(0, 0, 0, 0);
}

.medalscroll > div::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-color: rgb(55, 55, 55);
}

.modulebutton
{
    width: 100%;
    height: 100%;
    background-color: rgb(200, 143, 26) !important;
    box-shadow: inset 0px 1px 3px rgb(55, 55, 55);
    border-radius: 5px;
}

.modulebutton, .modulebutton a
{
    color: rgb(250, 249, 249) !important;
    font-weight: bold;
}

.gradetab td
{
    border-radius: 0px !important;
    text-align: center;
    padding: 0;
    vertical-align: middle;
}

.gradetab th, .gradetab td
{
    padding: 2px 2px 2px 2px;
    font-size: small;
}

.resume_module .module_scale tr td:first-of-type
{
    font-weight: bold;
}

.resume_module .module_scale .grade_a > td:last-of-type
{
    border-top-right-radius: 10px;
}

.resume_module .module_scale .grade_d > td:last-of-type
{
    border-bottom-right-radius: 10px;
}

.resume_module .grade_a
{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), gold);
}

.resume_module .grade_b
{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), silver);
}


.resume_module .grade_c
{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), #614e1a);
}

.resume_module .grade_d
{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), purple);
}

.module_button
{
    background-color: rgb(200, 143, 26);
    color: white;
    border-radius: 15px;
    text-align: center;
    font-size: x-large;
}
