
.content_table
{
    border-radius: 5px;
    font-size: small;
    box-shadow: 0px 1px 3px rgb(55, 55, 55);
}


.content_table, .content_table tr, .content_table td
{
    text-align: center;
    vertical-align: middle;
}

.description_column
{
    font-size: small;
}

