

@font-face
{
    src: url("/res/futura.ttf");
    font-family: futura;
}

*
{
    font-family: futura;
}

.tinyscroll::-webkit-scrollbar-track
{
    border-radius: 15px;
    width: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}

.tinyscroll::-webkit-scrollbar-thumb
{
    border-radius: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 1.0);
}

.backarrow
{
    font-size: 50px;
    text-decoration: none;
}

.no_border, .no_border tr, .no_border tr td
{
    border-style: none !important;
}

.sublist_of_link div, .sublist_of_link div a
{
    background-color: gray;
    border-radius: 10px;
    text-align: center;
    color: lightgray;
    text-decoration: none;
    font-size: small;
}

.sublist_of_link div a:hover
{
    color: white;
}

.sublist_of_link div input[type="button"]
{
    border-radius: 5px;
}

input[type="submit"], input[type="button"]
{
    border-radius: 5px;
    border: 0; /* 2px outset rgb(180, 165, 165); */
    background-color: rgb(55, 55, 55);
    color: rgb(200, 143, 26);
    transition: background-color 0.4s;
}

input[type="submit"]:hover, input[type="button"]:hover
{
    background-color: rgba(45, 48, 59);
}

.click_list
{
    overflow: auto;
}

.click_list>div:hover
{
    background-color: rgba(0, 0, 0, 0.2);
}

.click_list>div
{
    position: relative;
    margin-left: 10px;
    width: calc(100% - 20px);
    height: 50px;
    x-overflow: auto;
    border: 1px solid gray;
}

.click_list>div>div
{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    z-index: 1;
    color: white;
    text-shadow:
	-1px -1px 0px black,
	-1px +1px 0px black,
	+1px -1px 0px black,
	+1px +1px 0px black,
	-1px -0px 0px black,
	+1px +0px 0px black,
	+0px -1px 0px black,
	+0px +1px 0px black
    ;
}

.click_list>div>a>img
{
    position: absolute;
    left: 5px;
    top: 0px;
}

.click_list>div>p
{
    position: absolute;
    left: 60px;
    top: 0px;
    font-size: 20px;
    top: calc((100% - 20px) / 2);
    height: 20px;
}

.big_top_table
{
    width: 100%;
    height: calc(100% - 50px - 50px - 10px - 10px);
}

.big_top_table td
{
    vertical-align: top;
}

#body
{
    /* background-color: rgb(250, 249, 249); */
    box-shadow: inset 0px 1px 3px rgb(55, 55, 55);
}

.rollbutton
{
    border-radius: 0px !important;
    border-bottom-right-radius: 5px !important;
    border: 0px solid black;
    cursor: pointer;
    border-right: solid 1px gray !important;
    background: linear-gradient(to right, transparent, gray) !important;
    color: rgb(67, 70, 88) !important;
}

.content_even
{
    background-color: rgba(255, 143, 26, 0.2);
    transition: background-color 0.2s;
}

.content_even:hover
{
    background-color: rgba(255, 143, 26, 0.4);
}

.content_odd
{
    background-color: rgba(180, 165, 165, 0.2);
    transition: background-color 0.2s;
}

.content_odd:hover
{
    background-color: rgba(180, 165, 165, 0.4);
}
