
.final_box
{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.subject_box
{
    background-color: lightgray;
}

.full_box_with_title
{
    background-color: lightgray;
}

.bout
{
    border-radius: 10px;
    box-shadow:
	0px 0px 10px lightgray,
	inset 0px 0px 0px gray
    ;
    transition: box-shadow 0.15s;
}
.bin
{
    box-shadow:
	0px 0px 0px lightgray,
	inset 0px 0px 10px gray
    ;
    background-color: rgba(0, 0, 0, 0.1);
}

.home_table tr
{
    border-bottom: 1px solid black;
}


